/*顶部*/
.top-bar .main-title {
  background-color: #363946;
  height: 50px;
  overflow: hidden;
  color: #fff;
}
.top-bar .main-title .main-icon {
  background: url("/static/images/wap-menu.png") no-repeat;
  width: 40px;
  height: 40px;
  left: 0.6em;
  top: 0.45em;
  background-size:100%;
}